body {
    margin: 0;
    padding: 0;
    background: #ebedf0;
    direction: ltr;
    line-height: 1.34;
    position: relative;
    display: inline;
}

.new {
    background-color: #385898;
    /*    background-size: 100%;*/
    padding: 18px;

}

.first {
    padding-left: 100px;
    padding-bottom: 100px;
    font-family: cursive;
    font-size: 40px;
    color: white;
    font-weight: 600;

}

.one {
    background-color: #1e4dac;
    color: white;
    position: relative;
    left: 700px;
    padding: 3px;
    border-style: hidden;
    font-size: 12px;
    font-weight: bold;
    line-height: 18px;
    white-space: nowrap;
}

.newest {

    width: 90%;

    margin: 0 0 0 500px;

}


h1 {
    color: #1d2129;
    font-style: bold;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: normal;
    font-size: 40px;
    margin-bottom: 0;
}

.pad {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    border-color: #bdc7d8;
    width: 172px;
    padding: 8px 10px;
    border-width: 2px;
    border-radius: 5px;
    font-size: 18px;
    margin: 0 5px 10px 0;
    border-style: solid;
    border-image: none;
}

.width {
    width: 352px;

}

.para {
    font-size: 22px;
    font-weight: normal;
    line-height: 28px;
    color: #4b4f56;
}

.pos {}

.bpad p {
    font-family: inherit;
    color: #90949c;
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0 5px 0;

}


}

.bpad select {
    font-size: 13px;
    height: 30px;
    padding: 5px;

}

#change {
    font-size: 13px;
    height: 30px;
    padding: 5px;
}

.rad {
    font-family: inherit;
    color: #1d2129;
    font-size: 20px;
    font-weight: normal;
    font-style: bold;
    line-height: 18px;
    padding: 0 10px 0 3px;

}

.last {
    color: #777;
    font-size: 11px;
    width: 316px;
    margin: 1em 0;

    display: block;
}

button {
    margin: 0;
}

.but {
    background-color: #69a74e;
    border-color: #3b6e22;
    border: 1px solid;
    color: #fff;
    line-height: 126%;
    letter-spacing: normal;

}

.ext {
    border: 2px solid gray;
    border-radius: 50%;
}
